@import url('https://fonts.googleapis.com/css?family=Vollkorn:700');

body { color: .333333;}
p { font-size: 14px;}

.page {
    margin: 0 auto;
}
/* リンク */
a {
    color: .999966;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

/* ページヘッダー画像 */
.head_image {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}
.migiue{
    float:right;
}
.migiueGray{
    float:right;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.migiueGray:hover{
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
}
/* SNS画像 */
.SnsImg{
    float: right;
    top: 10px;
    left: 1px;
}

/* 次のページ */
.nextPage {
    margin: 60px 0px;
    margin-top: 120px;
}
.nextPage__next {
    float: left;
    color: .0c419a;
    text-decoration: none;
    background-image: url("../../images/nri12.png");
    background-repeat: no-repeat;
    background-position: 0px;
    text-align: right;
    padding-left: 20px;
}
.nextPage__next:hover {
    text-decoration: underline;
}

.nextPage__back {
    float: right;
    color: .0c419a;
    text-decoration: none;
    background-image: url("../../images/nri11.png");
    background-repeat: no-repeat;
    background-position: 130px;
    text-align: right;
    padding-right: 20px;
}
.nextPage__back:hover {
    text-decoration: underline;
}

/* パンくずリスト */
.topicPath {
    font-size: 12px;
    color: hsl(208, 12%, 21%);
    margin-top: 150px;
}

.topicPath:hover{
    text-decoration: none;
}

.examplePath {
    color: .333333;
}

/* PDF */
.pdfPath {
    font-size: 14px;
    color:#FFF;
    background-color: #0c419a;
    text-align: center;
    margin: 0 auto;
    width: 300px;
}

/* ページの先頭へ戻る */
.pagetop {
    font-size: 12px;
    text-align: right;
    margin-top: 30px;
}

.pageBack {
    font-size: 16px;
    text-align: left;
    margin-top: 70px;
    margin-bottom: 90px;
    padding-left: 15px;
    background-image: url("../../images/nri12.png");
    background-repeat: no-repeat;
    background-position: 0 4px;
}

.pageBack a{
    color: #0c419a;
    font-size: 15px;
}

/* ページボディ */
.pageBody {
    margin-top: 30px;
    margin: 0 auto;
}
.pageBody h1{
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
    padding-left: 40px;
    display: inline-block;
    background-image: url("../../images/nri21.png");
    background-repeat: no-repeat;
    line-height: 1.429;
    background-size: 20px;
    background-position: 10px;
}

.CaseIndex h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
    padding-left: 40px;
    background-image: url("../../images/nri21.png");
    background-repeat: no-repeat;
    line-height: 1.429;
    background-size: 20px;
    background-position: 10px;
}

.articleDetailHead img{
    width: 100%;
    height: 270px;
    margin: 20px 0px;
}

.articleDetailBody img{
    width: 100%;
    margin: 20px 0px;
}

.pageBodyMain {
    width: 830px;
    margin: 0 auto;
}
.pageBodyMain .subTitle {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 0;
    padding: 25px 15px;
}
.pageBodyMain .img{
   width: 800px;
}



.pageBodyMain .articleDetail p {
    font-size: 16px;
    line-height: 1.7;
}



.pdfStyle{
    text-align: center;
    opacity: 1;
}
.pdfStyle:hover img {
    opacity: .7;
}

/* DXの取組み事例 */
.articleList{
    display: block;
    width: 183px;
    position: relative;
    margin: 10px;
    float: left;
}
.articleList a{
    color:#000;
}

.articleList h6{
    position: absolute;
    color:#FFF;
    padding: 5px;
    background-color: #0c419a;
    margin: 0px;
    top:0;
    width: 175px;
}
.articleList p{
    line-height: 1.531;
    font-size: 14px;
}
.articleList p2{
    border: solid 1px #cccccc;
    border-radius: 10px;
    font-size: 12px;
    line-height: 35px;
    padding: 8px 10px;
}

.articleList img {
    border: solid 1px #cccccc;
    margin: 0px;
    padding: 0px;
    width: 183px;
}
.articleList_clearfix{
    clear: left;
}
.articleList_clearfix_right{
    clear: right;
}



.pageBodySub {
    width: 1100px;
    margin: 0 auto;
}

/* SNS */
.snsFollow {
    border-top: solid 2px #cccccc;
    border-bottom: solid 2px #cccccc;
    color: #0000FF;
    margin-bottom: 45px;
}

.snsFollow h4{
    font-size: 20px;
    margin: 30px;
    padding-top: 5px;
    padding-left: 300px;
}
.snsFollow img{
    margin: 30px 20px;
}
.snsFollow__float{
    float: left;
}


.localNaviSub li{
    list-style: none;
    padding-left: 15px;
    margin: 5px 10px;
    background-image: url("../../images/nri11.png");
    background-repeat: no-repeat;
    background-position: 0 4px;
}

.localNaviSub h5{
    font-size: 15px;
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    padding: 15px;
    margin: 5px;
    padding-left: 15px;
    margin: 5px 10px;
    background-image: url("../../images/nri11.png");
    background-repeat: no-repeat;
    background-position: 0 18px;
}



.SubNavi{
    display: block;
    width: 25%;
    position: relative;
    float: left;
}



/* 区切り線・余白 */
.localNaviMain {
    border-top: solid 2px #000000;
    border-bottom: dotted 1px #cccccc;
    margin-top: 100px;
    padding-bottom: 30px;
}
.localNaviMain h2{
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 22px;
}
.localNaviMain h3{
    border-top: dotted 1px #cccccc;
    margin-top: 30px;
    padding-top: 30px;
}
.localNaviMain a{
    color: #0c419a;
    font-size: 15px;
}


.localNavi__company{
    width: 1100px;
}

.localNavi__company ul li{
    text-align:left;
    float: left;
    width: 20%;
    list-style-type: none;
    font-size: 14px;
    line-height: 1.429;
    padding-left: 15px;
    margin: 5px 10px;
    background-image: url("../../images/nri11.png");
    background-repeat: no-repeat;
    background-position: 0 4px;

}

/* ページフッター */
.copyright {
    border-top: solid 1px #cccccc;
    margin-top: 15px;
}

/* 図版 */
figure {
    margin: 0;
}

/* ----トップページの内容---- */
/* メインビジュアル */
.mainVisual {
    position: relative;
}

.pageBody .mainVisual p{
    padding-left: 220px;
}

.pageBody .mainVisual .mainVisualText {
    position: absolute;
    bottom: 150px;
    color: #FFF;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pageBody .mainVisual img {
    vertical-align: bottom;
    width: 100%;
}

.pageBody .mainVisualText h3 {
    font-size: 20px;
    line-height: 1.231;
    margin: 20pxs;
    padding-left: 220px;
    font-weight: normal;
}

.pageBody .mainVisualText h2 {
    font-size: 24px;
    line-height: 1.5;
    margin: 0;
    padding-left: 220px;
}

/* 取組事例 */
/* 強み */
.StrongPoint {
    background-color: #deecf8;
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.StrongPoint h2 {
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 5px;
    margin: 0px;
}

.StrongPoint p{
    font-size: 16px;
}

.StrongList_center{
    padding: 0 20px;
}

.StrongList_middle{
    padding: 15px 0px;
}

.flexbox {
    height: 100%;
    /* margin-bottom: 30px; */
}

.StrongList {
    text-align: center;
    width: 240px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: solid 1px #cccccc;
    background-color: #FFF;
    margin: 10px ;
    background-image: url("../../images/nri11.png");
    background-repeat: no-repeat;
    background-position: 3% 50%;
}

.StrongList:hover{
    background-color:  #eeeeee;
}

.StrongList_a {
    color: .0c419a;
    text-decoration: none;
}

.StrongList_a:hover {
    text-decoration: none;
}




